<h1>Dragon Ball z</h1>
<hr>
<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <!-- se inyecta el componente hijo -->
            <app-personajes></app-personajes>
        </ul>
    </div>
    
    <div class="col">
        <!-- trabajando el evento creado en agregar.component onNuevoPersonaje -->
        <app-agregar [nuevo]="nuevo"></app-agregar>
    </div>
</div>