<h2>Listado de heroes</h2>

<div style="margin-bottom: 10px" *ngIf=nombre>

    <h3 style="display: inline;">Heroe Borrado: </h3>
    <p style="display: inline; font-weight: bold;">{{nombre}}</p>
</div>

<button (click)="borraElemento()">Borrar Elemento</button>

<ul>
    <li *ngFor="let heroe of heroes; let i = index">{{i}} {{heroe}}</li>
</ul>