<h3>Agregar</h3>
<hr>
<form (ngSubmit)="agregar()">
    <!-- accediendo al objeto nuevo propiedad nombre -->
    <input type="text" placeholder="nombre" name="nombre" [(ngModel)]="nuevo.nombre">
    <input type="number" placeholder="poder" name="poder" [(ngModel)]="nuevo.poder">
    <button type="submit">Agregar</button>
</form>